<div class="container mt-5">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>idvoyage</th>
        <th>Num</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.nom }}</td>
        <td>{{ item.prenom }}</td>
        <td>{{ item.id_voyage }}</td>
        <td>{{ item.num }}</td>
        <td>{{ item.email }}</td>
        <td>
          <button  (click)="EditForm(item.id)" class="btn btn-primary">Edit</button>
          <button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="AddFormComponent()" class="btn btn-success">Add</button>
</div>
